@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
}